$colorPrincipal: #272525;
$colorSecundario: #d05353;
$colorTerciario: #e58f65;
$colorCuarto: #f9e784;
$colorQuinto: #f1e8b8;
$colorSexto: #fff8dc;

$fontSize: 26px;
 
 
$fuentePrincipal: 'Monserrat'; 
 
body
{
  background-color: $colorPrincipal;
}
h1 
{
    font-family: $fuentePrincipal;
    color: transparent;  
   
    transition: color 0.5s ease;
    &:hover
    {
        color:$colorSecundario;
    }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto;
  height: 100vh;
  background-color: #272525;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 3fr auto;
  }
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: first baseline;
    position: fixed;
  
    color: $colorQuinto;
    font-family:$fuentePrincipal;
    height: 300px; 
    width: 100%;
  }
  .nav-link {
    flex-grow: 1;
    display: flex;
    margin: 0 10px;
    padding: 10px;
    text-decoration: none;
    color: $colorSecundario;
  
    &:hover {
      font-size: (2em);
      color: $colorTerciario;
       
    }
  }
  
.imagenFondo
{
  display: flex;
  background-color: #272525;
}
.imagenFondo img {
  max-width: 100%;
  height: 60%;
  border-radius: 70%;
}
.descripcion
{
  display: flex;
  background-color: #272525;
  color: $colorTerciario;
 font-size: 20px;
 font: 'Monserrat serif';
 border: solid 3px $colorSecundario;
 margin: 20px;
 padding: 10px;
}
.grid
 {     
    margin: 20px;
    display:grid;
    align-items: center;
    justify-items:center ;
    column-gap: 200px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 400px 400px 400px;
    color: $colorTerciario;
   
    
 }

.grid img
{
 height: 400px;
 width: 250x;
 padding: 20px;
 margin-top: 20PX;
 border-radius: 50%;
 
 &:hover
 {
   transform: scale(0.6);
   
    
  
 }}
 

.footcontainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $colorCuarto;
    position: fixed;
    justify-content: space-evenly;


}
.container{
    display: flex;
    background-color:$colorPrincipal;
    color: $colorSecundario;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    position: relative;
    
}
.container img
{
    height: 30px;
    margin: 25px;
}
 
